{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Portfolio Aitor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header-container">
        <header>
            <button class="menu-toggle" aria-expanded="false" aria-controls="main-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <div id="hizq">
                <h1 id="titulo-principal"><a href="{% url 'index' %}">Portfolio</a></h1>
            </div>
            <div id="hder">
                <h2 id="titulo-secundario">{{ titulo_pagina }}</h2>
            </div>
        </header>
        <nav id="main-menu" class="menu">
            <h2 class="ocultar"></h2>
            <h2 class="inline-element"><a href="{% url 'index' %}">Home</a></h2>
            <h1 class="inline-element ocultar">|</h1>
            <h2 class="inline-element "><a href="{% url 'experiencia' %}">Expriencia</a></h2>
            <h1 class="inline-element ocultar">|</h1>
            <h2 class="inline-element"><a href="{% url 'educacion' %}">Educación</a></h2>
            <h1 class="inline-element ocultar">|</h1>
            <h2 class="inline-element"><a href="{% url 'certificado' %}">Certificados</a></h2>
            <h1 class="inline-element ocultar">|</h1>
            <h2 class="inline-element"><a href="{% url 'contacto' %}">Contacto</a></h2>
            <h2></h2>
        </nav>
    </div>

    <main>
        {% block contenido %}
        {% endblock %}
    </main>

    <footer>
        <div id="fizq">
            <section>
                Todos los derechos reservados
            </section>
        </div>
        <div id="fcer">
            <div>
                <a href="https://github.com/jokobik?tab=repositories">
                    <img class="icon-footer" src="{% static 'images/logogithub.png' %}" alt="Logo GitHub">
                </a>
                <a href="https://www.linkedin.com/in/aitor-lopez-roncero">
                    <img class="icon-footer" src="{% static 'images/logolinkedin.png' %}" alt="Logo Linkedin">
                </a>
            </div>
        </div>
        <div id="fder">
            <section>
                Desarrollador
                <br>
                Aitor López
            </section>
        </div>
    </footer>
    <script src="{% static 'js/animacion_menu.js' %}"></script>
<script>
// Versión corregida - verifica modo oscuro y aplica clase
document.addEventListener('DOMContentLoaded', function() {
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    document.documentElement.classList.add('force-dark-mode');
    console.log('Modo oscuro activado mediante JS');
  }
});
</script>
</body>
</html>