{% extends "base.html" %}
{% load static %}

{% block contenido %}
<section class="secciones">
<div class="certificado-titulo">
    <h3>{{ certificado.titulo }}</h3>
    <a class="enlace-volver" href="{% url 'certificado' %}"><img class="imagen-volver" src="{% static 'images/flechavolver.png' %}"></a>
</div>
<ul class="lista-exp-edu">
    <li>Expedición: {{ mes_expedicion_nombre }} {{ certificado.anio_expedicion }}</li>

    {% if certificado.id_credencial %}
        <li>ID Credencial: {{ certificado.id_credencial }}</li>
    {% endif %}

    {% if certificado.url %}
        <li>Certificado online: <a class="certificado-online" href="{{ certificado.url }}">Consultar</a></li>
    {% endif %}

    {% if certificado.descripcion %}
        <li>Descripción:</li>
        <ul class="lista-descripcion">
            <ul>
                {% for punto in certificado.descripcion_lista %}
                    <li>{{ punto }}</li>
                {% endfor %}
            </ul>
        </ul>
    {% endif %}

    {% if certificado.imagen %}
        <br>
        <img class="imagen-certificado" src="{{ certificado.imagen.url }}" alt="{{ certificado.titulo }} ">
    {% endif %}
</ul>
</section>
{% endblock %}