{% extends "base.html" %}
{% load static %}

{% block contenido %}
    {% for cer in lista_certificado %}
    <section class="secciones secciones-exp-edu">
        {% if cer.imagen %}
            <img class="imagen-empresa" src="{{ cer.imagen.url }}" alt="{{ cer.titulo }}">
        {% endif %}
        <div class="exp-edu-contenido">
            <h3>{{ cer.titulo }}</h3>
            <ul class="lista-exp-edu">
                <li>Emisor: {{ cer.emisor }}</li>
                <li>Expedición: {{ cer.mes_expedicion }} {{ cer.anio_expedicion }}</li>
            </ul>
        </div>
        <!--<a class="emoji-certificado" href="{% url 'certificado_detail' cer.id %}">
            📋
        </a>-->
        <a class="enlace-certificado" href="{% url 'certificado_detail' cer.id %}">
            <img class="imagen-detalles" src="{% static 'images/detallescertificado.png' %}">
        </a>
    </section>
    {% endfor %}
{% endblock %}