{% extends "base.html" %}
{% load static %}

{% block contenido %}

<div>
    <div>
        <img src="{% static 'images/imagenpersonal.jpg' %}" alt="Imagen de perfil">
    </div>
    <div>
        <section>
            <h3>¿Quien soy?</h3>
            <p>
                Graduado en Industria Digital y en Automatización y Robótica Industrial.
                Tengo una gran pasión por la tecnología y deseo seguir evolucionando y formándome.
            </p>
            <p>
                El Grado Superior en Automatización y Robótica Industrial me aportó competencias de la parte industrial
                y el Grado en Industria Digital los cocimientos de la parte informática para trabajar en Industria 4.0.
            </p>
            <p>
                El Grado de Industria Digital lo realicé en la modalidad de Formación Dual, lo que me permitió aplicar
                los conocimientos teóricos en casos prácticos.
            </p>
        </section>

        <section>
            <h3>Sobre mi</h3>
            <p>
                🏢 Aciturri Tech:
                Me especializo en el desarrollo e implementación de soluciones de automatización inteligente y RPA,
                liderando proyectos que optimizan procesos y mejoran la eficiencia operativa. Trabajo en la integración
                de tecnologías emergentes, aplicando inteligencia artificial y automatización para impulsar la
                transformación digital.
            </p>
            <p>
                🔧 Habilidades y Competencias:
                • Gestión de proyectos automatizados.
                • Desarrollo de soluciones automatizadas mediante robots de software (RPA).
                • Implementación de soluciones para la Industria 4.0.
                • Integración efectiva entre informática e industria.
            </p>
            <p>
                🎓 Formación:
                Soy Graduado en Industria Digital por la Universidad de Deusto, donde completé mi formación en modalidad
                Dual, combinando teoría y práctica en entornos reales, lo que me permitió desarrollar una sólida
                capacidad para enfrentar desafíos presentes y futuros. Además, poseo estudios en Automatización y
                Robótica Industrial, lo que ha reforzado mi habilidad para diseñar, implementar y optimizar sistemas
                automatizados en diversos ámbitos.
            </p>
            <p>
                🚀 Enfoque Profesional:
                Mi aprendizaje continuo y mis experiencias prácticas han potenciado mi habilidad para innovar y
                optimizar procesos, siempre con la meta de mejorar la eficiencia y la competitividad.
            </p>
            <p>
                💡 Pasión por la Tecnología:
                Estoy en constante búsqueda de oportunidades para evolucionar y formarme en nuevas áreas, contribuyendo
                al avance tecnológico y a la transformación digital.
            </p>
        </section>
        <section>
            <h3>Intereses</h3>
            <ul>
                <li>Jugador de baloncesto.</li>
                <li>Entrenador de baloncesto de un equipo infantil y de otro de secundaria.</li>
                <li>Buceador con equipo autónomo.</li>
            </ul>
        </section>
    </div>
</div>

{% endblock %}