{% extends "base.html" %}
{% load static %}

{% block contenido %}
<section id="secciones">
    <div id="login-container">
        <img id="login-img" alt="Login" src="{% static 'images/loginVista.png' %}">
        <input id="login-user" placeholder="Usuario">
        <div id="login-pass-container">
            <input id="login-password" placeholder="Contraseña" type="password">
            <button type="button" id="login-mostrar">
                <img id="login-mostrar-img" alt="Mostrar" src="{% static 'images/mostrarPass.png' %}">
            </button>
        </div>
        <button>Iniciar sesion</button>
    </div>
</section>
{% endblock %}