/* Importar una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap'); /* Importa la fuente Inter de Google Fonts */

/* Reset básico para todos los elementos */
* {
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto del elemento */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina los paddings predeterminados */
}

/* Estilos para el html */
html {
    font-size: 16px; /* Tamaño base de la fuente */
}

/* ---------------------- */
/* Estilos para elementos */
/* ---------------------- */

/* Estilos para enlaces */
a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

/* Estilos para el cuerpo de la página */
body {
    background-color: #f4f4f4; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    color: #333; /* Color del texto */
    font-family: 'Inter', sans-serif; /* Fuente principal */
    line-height: 1.6; /* Altura de línea */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para el pie de página */
footer {
    align-items: center; /* Centra verticalmente los elementos */
    background: #222; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    color: white; /* Color del texto */
    display: flex; /* Usa Flexbox para alinear elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between; /* Distribuye el espacio entre elementos */
    padding: 20px 0; /* Espaciado interno */
    width: 100%; /* Ancho completo */
}

/* Estilos para enlaces dentro de h1 */
h1 a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilos para encabezados h3 */
h3 {
    color: #222; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para el encabezado */
header {
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #222; /* Color de fondo */
    border-top-left-radius: 10px; /* Borde superior izquierdo redondeado */
    border-top-right-radius: 10px; /* Borde superior derecho redondeado */
    color: white; /* Color del texto */
    display: flex; /* Usa Flexbox para alinear elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between; /* Distribuye el espacio entre elementos */
    padding: 10px 0; /* Espaciado interno */
    width: 100%; /* Ancho completo */
}

/* Estilos para el contenido principal */
main {
    background: #f9f9f9; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 20px auto; /* Margen exterior */
    min-height: 50vh; /* Altura mínima */
    padding: 20px; /* Espaciado interno */
    width: 99%; /* Ancho relativo */
}

/* Estilos para la barra de navegación */
nav {
    align-items: center; /* Centra verticalmente los div */
    background-color: #222; /* Color de fondo */
    border-bottom-left-radius: 10px; /* Borde inferior izquierdo redondeado */
    border-bottom-right-radius: 10px; /* Borde inferior derecho redondeado */
    display: flex; /* Usa Flexbox para alinear los div en línea */
    justify-content: space-around; /* Distribuye el espacio entre los div */
    left: 0; /* Alinea el elemento al borde izquierdo */
    padding: 10px 0; /* Espaciado interno */
    width: 100%; /* Para que ocupe el ancho del contenedor de posicionamiento */
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos si es necesario */
}

/* Estilos para párrafos */
p {
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    margin-bottom: 15px; /* Margen inferior */
}

/* Estilos para listas no ordenadas */
ul {
    list-style-type: disc; /* Tipo de viñeta */
}

/* Estilos para elementos de lista */
ul li {
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    margin-bottom: 10px; /* Margen inferior */
}

/* ---------------- */
/* Estilos para IDs */
/* ---------------- */

/* Estilos para el contenedor de contacto */
#contacto {
    align-items: center; /* Centra verticalmente los elementos */
    align-self: stretch; /* Iguala la altura con el contenedor derecho */
    display: flex; /* Usa Flexbox para alinear elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between; /* Distribuye el espacio entre elementos */
    margin: 0 auto; /* Centra el contenedor */
    max-width: 100%; /* Ancho máximo del contenedor */
}

/* Estilos para el enlace de descarga */
#enlace-descargar {
    margin: 5px; /* Margen personalizado */
}

/* Estilos para el elemento central del footer */
#fcer {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para el elemento derecho del footer */
#fder {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 10px; /* Espaciado interno */
    text-align: right; /* Alineación del texto a la derecha */
}

/* Estilos para el elemento izquierdo del footer */
#fizq {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para el elemento derecho del header */
#hder {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 10px; /* Espaciado interno */
    text-align: right; /* Alineación del texto a la derecha */
}

/* Estilos para el elemento izquierdo del header */
#hizq {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para el icono de descarga */
#icono-descargar {
    align-self: stretch; /* Iguala la altura con el contenedor izquierdo */
    flex: 2; /* Ocupa el doble de espacio */
    height: 83%; /* Altura del icono */
    margin: 0; /* Elimina el margen predeterminado */
    padding-left: 15px; /* Espaciado interno izquierdo */
    transition: transform 0.2s ease; /* Transición para efecto hover */
    width: 60px; /* Ancho del icono */
}

/* Estilos para el hover de certificados en línea */
#icono-descargar:hover {
    border-radius: 7px; /* Bordes redondeados */
    color: #ffffff; /* Texto blanco */
    transform: scale(1.2); /* Escala el ícono al hacer hover */
}

/* Estilos para la imagen de perfil */
#imagen-perfil {
    border-radius: 50%; /* Bordes redondeados */
    display: block; /* Convierte la imagen en un bloque */
    height: 200px; /* Ajusta la altura de la imagen */
    margin: 0 auto 20px; /* Centra la imagen y añade margen inferior */
    max-width: 200px; /* Tamaño máximo de la imagen */
    width: 100%; /* Ajusta el ancho de la imagen */
}

/* Estilos para el canvas del PDF */
#pdf-canvas {
    align-self: stretch; /* Iguala la altura con el contenedor izquierdo */
    border: 1px solid #ddd; /* Borde delgado */
    border-radius: 10px; /* Bordes redondeados */
    display: block; /* Convierte el canvas en un bloque */
    flex: 1; /* Ocupa el espacio disponible */
    margin: 0 auto; /* Centra el canvas */
    max-width: 600px; /* Anchura fija para el pdf */
}

/* Estilos para el contenedor del perfil */
#perfil {
    align-items: center; /* Centra verticalmente los elementos */
    align-self: stretch; /* Iguala la altura con el contenedor derecho */
    display: flex; /* Usa Flexbox para alinear elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between; /* Distribuye el espacio entre elementos */
    margin: 0 auto; /* Centra el contenedor */
    max-width: 100%; /* Ancho máximo del contenedor */
}

/* Estilos para la sección derecha del perfil */
#perfil-der {
    align-self: stretch; /* Iguala la altura con el contenedor izquierdo */
    flex: 2; /* Ocupa el doble de espacio que la sección izquierda */
    padding: 0 0 0 20px; /* Espaciado interno izquierdo */
    text-align: justify; /* Justifica el texto */
}

/* Estilos para la sección izquierda del perfil */
#perfil-izq {
    align-self: stretch; /* Iguala la altura con el contenedor izquierdo */
    background-color: white; /* Color de fondo */
    border: 1px solid #ddd; /* Borde delgado */
    border-radius: 10px; /* Bordes redondeados */
    flex: 1; /* Ocupa el espacio disponible */
    padding: 20px; /* Espaciado interno */
    text-align: justify; /* Justifica el texto */
}

/* Estilos para la sección del currículum */
#seccion-cv {
    align-items: flex-start; /* Alinea los elementos al inicio */
    display: flex; /* Usa Flexbox para alinear elementos */
}

/* Estilos para la sección de Linkedin */
#seccion-linkedin {
    width: 100%; /* Ocupa el ancho disponible */
}

/* Estilos para el título principal */
#titulo-principal {
    font-size: 2.5rem; /* Tamaño de fuente */
}

/* Estilos para el título secundario */
#titulo-secundario{
    font-size: 2rem; /* Tamaño de fuente */
}

/* Estilos para la vista del PDF */
#vista-pdf {
    align-self: stretch; /* Iguala la altura con el contenedor izquierdo */
    flex: 2; /* Ocupa el doble de espacio que la sección izquierda */
    padding: 0 0 0 20px; /* Espaciado interno */
    text-align: justify; /* Justifica el texto */
}

/* Estilos para el widget de LinkedIn */
#widget-linkedin {
    align-self: stretch; /* Iguala la altura con el contenedor izquierdo */
    background-color: white; /* Color de fondo */
    border: 1px solid #ddd; /* Borde delgado */
    border-radius: 10px; /* Bordes redondeados */
    flex: 1; /* Ocupa el espacio disponible */
    padding: 20px; /* Espaciado interno */
    text-align: justify; /* Justifica el texto */
}

/* Estilos para la sección dentro del widget de LinkedIn */
#widget-linkedin-section {
    display: flex; /* Convierte el elemento en un contenedor Flexbox */
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
}

/* Estilos para el título del widget de LinkedIn */
#widget-linkedin-titulo {
    text-align: left; /* Alinear texto a la izquierda */
}

/* ------------------- */
/* Estilos para clases */
/* ------------------- */

/* Estilos para las barras del menú */
.bar {
    background-color: white; /* O el color que desees */
    display: block; /* Elimina espacio inline */
    height: 3px; /* Alto de cada barra del icono hamburguesa */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transición suave */
    width: 25px; /* Ancho de cada barra del icono hamburguesa */
}

/* Estilos para elementos de contacto */
.contacto-item {
    align-items: stretch; /* Centra el contenido verticalmente */
    display: flex; /* Usa Flexbox para alinear elementos */
    gap: 20px; /* Espacio entre los dos divs */
    width: 100%; /* Ancho completo */
}

/* Estilos para certificados en línea */
.certificado-online {
    line-height: 1; /* Elimina espacio vertical */
    text-decoration: none; /* Sin subrayado */
    transition: transform 0.2s ease; /* Transición para efecto hover */
}

/* Estilos para el hover de certificados en línea */
.certificado-online:hover {
    background: #3b82f6; /* Color del fondo */
    border-radius: 7px; /* Bordes redondeados */
    color: #ffffff; /* Texto blanco */
    transform: scale(1.2); /* Escala el ícono al hacer hover */
}

/* Estilos para el título del certificado */
.certificado-titulo {
    align-items: center; /* Centra verticalmente los elementos */
    align-self: stretch; /* Iguala la altura con el contenedor derecho */
    display: flex; /* Usa Flexbox para alinear en línea */
    justify-content: space-between; /* Separa título y enlace a los extremos */
    margin-bottom: 15px; /* Espacio inferior */
}

/* Estilos para la descripción derecha */
.descripcion-derecha {
    border-left: 1px solid #eee; /* Borde izquierdo delgado */
    padding-left: 15px; /* Espaciado interno izquierdo */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para el enlace del certificado */
.enlace-certificado {
    font-size: 60px; /* Tamaño del enlace */
    height: min-content; /* Tamaño mínimo necesario */
    line-height: 1; /* Elimina espacio vertical */
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: transform 0.2s ease; /* Transición para efecto hover */
}

/* Estilos para el hover del enlace del certificado */
.enlace-certificado:hover {
    transform: scale(1.2); /* Escala el ícono al hacer hover */
}

/* Estilos para el enlace de volver */
.enlace-volver {
    align-items: center; /* Centra verticalmente el enlace */
    display: inline-flex; /* Contenedor flexible en línea */
    font-size: 40px; /* Tamaño del enlace */
    height: 40px; /* Altura fija para área de clic */
    justify-content: center; /* Centra horizontalmente el enlace */
    margin-left: 15px; /* Espacio entre título y enlace */
    transition: transform 0.2s ease; /* Transición para efecto hover */
    width: 40px; /* Ancho fijo para área de clic */
}

/* Estilos para el hover del enlace de volver */
.enlace-volver:hover {
    transform: scale(1.2); /* Escala el ícono al hacer hover */
}

/* Estilos para el contenido de la experiencia */
.exp-edu-contenido {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 0 0 0 20px; /* Espaciado interno izquierdo */
}

/* Estilos para el contenedor si necesitas algo específico */
.header-container {
    position: relative; /* Crea un contexto para posicionar elementos hijos absolutos */
    width: 100%; /* Ocupar el ancho maximo */
}

/* Estilos para íconos del pie de página */
.icon-footer {
    border-radius: 15%; /* Bordes redondeados */
    height: 40px; /* Altura */
    margin-top: 10px; /* Margen superior */
    transition: transform 0.3s ease; /* Transición suave para el efecto hover */
    width: 40px; /* Ancho */
}

/* Estilos para el hover de íconos del pie de página */
.icon-footer:hover {
    transform: scale(1.2); /* Escala el ícono al hacer hover */
}

/* Estilos para elementos en línea */
.inline-element {
    display: inline-block; /* Hace que los elementos estén en línea */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
    transition: transform 0.3s ease; /* Transición suave para el efecto hover */
}

/* Estilos para enlaces en elementos en línea */
.inline-element a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

/* Estilos para el hover de elementos en línea */
.inline-element:hover {
    transform: scale(1.3); /* Escala el ícono al hacer hover */
    transition: transform 0.3s ease; /* Transición suave para el efecto hover */
}

/* Estilos para la imagen del certificado */
.imagen-certificado {
    border: 1px solid #ddd; /* Borde delgado */
    border-radius: 10px; /* Bordes redondeados */
    max-height: 100%; /* Altura máxima */
    object-fit: contain; /* Ajusta la imagen manteniendo su relación de aspecto */
    width: 100%; /* Ancho */
}

/* Estilos para la imagen de detalles */
.imagen-detalles {
    height: 60px; /* Altura */
}

/* Estilos para la imagen de la empresa */
.imagen-empresa {
    border: 1px solid #ddd; /* Borde delgado */
    border-radius: 10px; /* Bordes redondeados */
    flex-shrink: 0; /* No permite que la imagen se reduzca */
    max-height: 200px; /* Altura máxima */
    object-fit: contain; /* Ajusta la imagen manteniendo su relación de aspecto */
    padding: 10px; /* Espaciado interno */
    width: 200px; /* Ancho */
}

/* Estilos para la imagen de volver */
.imagen-volver {
    height: 40px; /* Altura */
}

/* Estilos para listas de descripción */
.lista-descripcion {
    padding-left: 40px; /* Espaciado interno izquierdo */
}

/* Estilos para listas de experiencia y educación */
.lista-exp-edu {
    list-style-type: none; /* Elimina las viñetas */
    margin-top: 10px; /* Margen superior */
    padding-left: 0; /* Elimina el padding izquierdo */
}

/* Estilos para elementos de la lista de experiencia */
.lista-experiencia li {
    line-height: 1.5; /* Altura de línea */
    margin-bottom: 8px; /* Margen inferior */
}

/* Estilos para el menú desplegable */
.menu {
    display: flex; /* Para mantener la disposición horizontal en pantallas grandes */
    justify-content: space-around; /* Mantener la distribución de los enlaces */
}

/* Estilos para el botón del menú */
.menu-toggle {
    align-items: flex-start; /* Alinear las barras a la izquierda dentro del botón */
    align-self: flex-start; /* Alinear el botón dentro del contenedor */
    background: none; /* Fondo transparente */
    border: none; /* Sin bordes */
    color: white; /* Mantener el color del texto del header */
    cursor: pointer; /* Cursor tipo puntero al pasar por encima */
    display: none; /* Ocultar por defecto (se mostrará en media queries) */
    flex-direction: column; /* Para apilar las barras si se usan spans dentro */
    font-size: 1.2em; /* Tamaño del icono del menú */
    gap: 6px; /* Espacio entre las barras internas */
    justify-content: center; /* Centrar verticalmente las barras dentro del botón */
    padding: 10px 15px; /* Espaciado interior del botón */
}

/* Estilos para la primera barra cuando el menú está abierto */
.menu-toggle.open .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg); /* Mover y rotar */
}

/* Estilos para la segunda barra cuando el menú está abierto (la ocultamos) */
.menu-toggle.open .bar:nth-child(2) {
    opacity: 0; /* Hace completamente transparente la barra central */
}

/* Estilos para la tercera barra cuando el menú está abierto */
.menu-toggle.open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg); /* Mover y rotar en la dirección opuesta */
}

/* Estilos para la presentación */
.presentacion {
    font-size: 17px; /* Tamaño de fuente */
}

/* Estilos para secciones generales */
.secciones {
    background-color: white; /* Color de fondo */
    border: 1px solid #ddd; /* Borde delgado */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espacio entre secciones */
    padding: 20px; /* Espaciado interno */
    text-align: justify; /* Justifica el texto */
    width: 100%; /* Ocupa el 100% del ancho del contenedor padre */
}

/* Estilos para secciones de experiencia y educación */
.secciones-exp-edu {
    align-items: flex-start; /* Alinea todos los items (imagen y div) arriba */
    display: flex; /* Usa Flexbox para alinear elementos */
}

/* Estilos para la sección final */
.section-final {
    margin-bottom: 0; /* Margen inferior */
}



.force-dark-mode header,
.force-dark-mode footer {
  background: #333 !important;
  color: white !important;
  border: 2px solid yellow !important;
}



/* ------------- */
/* Media Queries */
/* ------------- */

/* Estilos para pantallas con ancho máximo de 800px */
@media (max-width: 800px) {
    /* Estilos para el pie de página en pantallas pequeñas */
    footer {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        text-align: center; /* Alineación del texto */
    }

    /* Estilos para el header en pantallas pequeñas */
    header {
        align-items: center; /* Centra verticalmente los elementos hijos */
        border-bottom-left-radius: 10px; /* Borde inferior izquierdo redondeado (POR DEFECTO) */
        border-bottom-right-radius: 10px; /* Borde inferior derecho redondeado (POR DEFECTO) */
        flex-direction: row; /* Disposición horizontal de los elementos */
        justify-content: space-between; /* Distribuye el espacio entre elementos */
        position: relative; /* Establece contexto de posicionamiento */
    }

    /* Eliminar los bordes inferiores redondeados del header cuando el menú está abierto */
    header.menu-open {
        border-bottom-left-radius: 0; /* Elimina radio inferior izquierdo */
        border-bottom-right-radius: 0; /* Elimina radio inferior derecho */
    }

    /* Menú principal - Estado inicial (oculto) */
    nav#main-menu {
        align-items: stretch; /* Estira los items para ocupar el ancho disponible */
        background-color: #222; /* Color de fondo oscuro (#222) para el menú */
        border-radius: 10px; /* Radios solo en esquinas inferiores */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        display: flex; /* Activa flexbox */
        flex-direction: column; /* Disposición vertical */
        left: 0; /* Alineado a la izquierda */
        max-height: 0; /* Altura inicial colapsada */
        opacity: 0; /* Inicialmente transparente */
        overflow: hidden; /* Oculta contenido que sobresale */
        position: absolute; /* Posicionamiento absoluto */
        top: 100%; /* Posicionado debajo del header */
        transform: translateY(-10px); /* Desplazado hacia arriba inicialmente */
        transition:
            max-height 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), /* Animación altura */
            opacity 0.3s ease-in-out, /* Animación opacidad */
            transform 0.3s ease-in-out; /* Animación desplazamiento */
        width: 100%; /* Ancho completo */
        z-index: 10; /* Por debajo del header */
        /*will-change: transform, opacity; /* Optimización para animaciones */
    }

    /* Menú abierto */
    nav#main-menu.open {
        border-top-left-radius: 0; /* Elimina radio superior izquierdo */
        border-top-right-radius: 0; /* Elimina radio superior derecho */
        max-height: 500px; /* Ajusta según tu contenido */
        opacity: 1; /* Totalmente visible */
        transform: translateY(0); /* Posición natural */
    }

    /* Estilos para títulos en el menú abierto */
    nav#main-menu.open .inline-titles {
        display: block ; /* Cambia a bloque para apilar verticalmente */
        margin-bottom: 10px ; /* Espaciado entre elementos */
        text-align: left ; /* Alineación del texto */
        width: 100% ; /* Ocupa el ancho disponible */
    }

    /* Elementos del menu */
    nav#main-menu a {
        border-bottom: 1px solid #333; /* Separador entre enlaces */
        color: white; /* Mantener el color de los enlaces */
        display: block; /* Hace que el botón ocupe toda la línea disponible */
        padding: 10px 15px; /* Espaciado interno del botón para mayor área clicable y separación visual */
        text-align: left; /* Alinea el contenido del botón (como íconos o texto) a la izquierda */
        transition: background-color 0.2s ease; /* Transición hover */
    }

    /* Estilos para el ultimo enlace del menu */
    nav#main-menu a:last-child {
        border-bottom: none; /* Eliminar el borde del último enlace */
    }

    /* Estilos para cuando los títulos tienen la clase 'inline-titles' (menú plegado) */
    nav#main-menu .inline-titles {
        display: inline-block; /* O inline */
        /* Otros estilos para el estado plegado */
    }

    /* Estilos para el contenedor de contacto en pantallas pequeñas */
    #contacto {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    /* Estilos para los elementos del footer en pantallas pequeñas */
    #fcer, #fder, #fizq {
        margin-bottom: 10px; /* Margen inferior */
        text-align: center; /* Alineación del texto */
    }

    /* Estilos para ocultar el elemento izquierdo del header en pantallas pequeñas */
    #hizq {
        display: none; /* Oculta el elemento */
    }

    /* Estilos para el icono de descarga en pantallas pequeñas */
    #icono-descargar {
        width: 40px; /* Ancho del icono */
    }

    /* Estilos para el canvas del PDF en pantallas pequeñas */
    #pdf-canvas {
        width: 85%; /* Ancho del icono */
    }

    /* Estilos para el contenedor del perfil en pantallas pequeñas */
    #perfil {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    /* Estilos para la sección derecha del perfil en pantallas pequeñas */
    #perfil-der {
        padding: 0; /* Elimina el padding */
        width: 100%; /* Ocupa el 100% del ancho */
    }

    /* Estilos para la sección izquierda del perfil en pantallas pequeñas */
    #perfil-izq {
        margin-bottom: 20px; /* Margen inferior */
        width: 100%; /* Ocupa el 100% del ancho */
    }

    /* Estilos para la vista del PDF en pantallas pequeñas */
    #vista-pdf {
        padding: 0; /* Elimina el padding */
        width: 100%; /* Ocupa el 100% del ancho */
    }

    /* Estilos para el widget de LinkedIn en pantallas pequeñas */
    #widget-linkedin {
        margin-bottom: 20px; /* Margen inferior */
        width: 100%; /* Ocupa el 100% del ancho */
    }

    /* Estilos para el título del certificado en pantallas pequeñas */
    .certificado-titulo {
        align-items: center; /* Centra verticalmente los elementos */
        flex-direction: row; /* Mantiene alineación horizontal */
    }

    /* Estilos para el enlace del certificado en pantallas pequeñas */
    .enlace-certificado {
        display: block; /* Elimina espacio inline */
        line-height: 1; /* Elimina espacio vertical */
        margin-top: 0; /* Margen superior */
        text-decoration: none; /* Elimina el subrayado del enlace */
        width: min-content; /* Tamaño mínimo necesario */
    }

    /* Estilos para el enlace de volver en pantallas pequeñas */
    .enlace-volver {
        align-self: stretch; /* Iguala la altura con el enlace */
        font-size: 20px; /* Tamaño de fuente */
        height: 35px; /* Altura */
        width: 35px; /* Ancho */
    }

    /* Estilos para el contenido de la experiencia en pantallas pequeñas */
    .exp-edu-contenido {
        display: flex; /* Usa Flexbox para alinear elementos */
        flex: 1; /* Ocupa el espacio disponible */
        flex-direction: column; /* Organiza los elementos en columna */
        margin: 0; /* Elimina el margen */
        overflow-wrap: break-word; /* Permite que las palabras largas se rompan */
        padding: 0; /* Elimina el padding */
    }

    /* Estilos para el contenedor de la información en pantallas pequeñas */
    .exp-edu-info {
        width: 100%; /* Ocupa el 100% del ancho */
    }

    /* Estilos para los íconos del pie de página en pantallas pequeñas */
    .icon-footer {
        margin: 10px auto; /* Margen automático para centrar */
    }

    /* Estilos para la imagen del certificado en pantallas pequeñas */
    .imagen-certificado {
        max-height: 400px; /* Altura máxima */
        width: 100%; /* Ocupa el 100% del ancho */
    }

    /* Estilos para la imagen de la empresa en pantallas pequeñas */
    .imagen-empresa {
        margin-bottom: 15px; /* Margen inferior */
        max-width: 200px; /* Ancho máximo */
        width: 100%; /* Ocupa el 100% del ancho */
    }

    /* Estilos para el hover de elementos en línea en pantallas pequeñas */
    .inline-element:hover {
        transform: scale(1.3); /* Escala horizontalmente al 110% */
        transform-origin: left; /* Hace que la escala se origine desde la izquierda */
    }

    /* Estilos para la lista de experiencia y educación en pantallas pequeñas */
    .lista-exp-edu {
        margin: 0; /* Elimina el margen */
        width: 100%; /* Ocupa el 100% del ancho */
        word-break: break-word; /* Fuerza la ruptura de palabras largas */
    }

    /* Estilos para el botón del menú en pantallas pequeñas */
    .menu-toggle {
        align-items: center; /* Centra verticalmente el contenido del botón (icono y texto) */
        display: flex; /* Activa el modelo flexbox para que align-items funcione */
        height: 100%; /* Ocupa toda la altura del header para alineación vertical */
        left: 10px; /* Margen izquierdo respecto al contenedor padre */
        padding: 0 15px; /* Espaciado interno: 0 arriba/abajo, 15px izquierda/derecha */
        position: absolute; /* Posicionamiento absoluto respecto al contenedor */
        top: 0; /* Alineación con la parte superior del header */
        z-index: 11; /* Nivel de apilamiento superior para garantizar visibilidad */
    }

    /* Estilos para mostrar el menú cuando la clase 'open' está presente */
    .menu.open {
        display: block !important; /* Hace que el botón ocupe toda la línea disponible */
        flex-direction: column !important; /* Asegurar la disposición vertical */
        opacity: 1; /* Totalmente visible */
        /*transform: translateY(var(--header-height));  Lo devuelve a su posición original (debajo del botón) */
    }

    /* Estilos para los elementos inline-element dentro del menú desplegable */
    .menu.open h2.inline-element {
        display: block; /* Anula el inline-block para que se apilen */
        margin-bottom: 10px; /* Añadir espacio entre los elementos (opcional) */
        text-align: left; /* Alinear el texto a la izquierda (opcional) */
        width: 100%; /* Ocupar el ancho total del menú */
    }

    /* Estilos para ocultar elementos en pantallas pequeñas*/
    .ocultar {
        display: none; /* Ocultar el menú horizontal por defecto en pantallas pequeñas */
    }

    /* Estilos para secciones de experiencia y educación en pantallas pequeñas */
    .secciones-exp-edu {
        align-items: flex-start; /* Alinea los elementos al inicio */
        display: flex; /* Usa Flexbox para alinear elementos */
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }
}

/* Estilos para pantallas verticales */
@media (max-aspect-ratio: 1/1) {
    /* Estilos para la vista del PDF en pantallas verticales */
    #vista-pdf {
        padding: 0; /* Elimina el padding */
        width: 100%; /* Ocupa el 100% del ancho */
    }

    /* Estilos para el widget de LinkedIn en pantallas verticales */
    #widget-linkedin {
        margin-bottom: 20px; /* Margen inferior */
        width: 100%; /* Ocupa el 100% del ancho */
    }
}

/* En tu archivo CSS principal - Añade !important temporalmente */
@media (prefers-color-scheme: dark) {
  :root {
    --debug-color: red !important;
  }

  header,
  footer {
    background: lime !important;
    color: black !important;
    outline: 3px dashed red !important;
  }

  body::before {
    content: "¡CSS EN MODO OSCURO ACTIVADO!" !important;
    display: block !important;
    padding: 1rem !important;
    background: black !important;
    color: white !important;
    font-size: 1.5rem !important;
    text-align: center !important;
  }
}